{{#if error}} <span>{{error}}</span>{{/if}}

<div class="container ">
 	<div class="row">

		<h5>Please select option</h5>
	</div
	<div class="row">
		<ol>
			<li> <a href = "/students/add"> Add new student </a></li>
			<li> <a href = "/students/list"> Show  student details</a></li>
			<li> <a href = "/students/edit"> Edit existing student detail</a></li>
			<li> <a href = "/students"> List all students </a></li>
		</ol>
	</div>
</div>