{{#if error}} <span>{{error}}</span>{{/if}}

<div class="container ">
 	<div class="row">

		<h3>Please select option</h3>
	</div
	<div class="row">
		<ol>
			<li> <a href = "/student/add"> Add new student </a></li>
			<li> <a href = "/student/list"> List  student details</a></li>
			<li> <a href = "/student/edit"> Edit existing student detail</a></li>
			<li> <a href = "/student/all"> List all students </a></li>
		</ol>
	</div>
</div>