<div class="container">
<h1>Search Student</h1>
{{#if error}} <span>{{error}}</span>{{/if}}

<form class="form-inline" method="POST" action="/students/list">
  <div class="form-group">
    <input type="text" name="regno" class="form-control" placeholder="Search Users By Reg. No.">
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>
</div>